body
{
  background-color: #404040;
  font-family: 'Lato', sans-serif;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#logo
{
  color: white;
  margin-top: 20px;
  font-size: 48px;
  letter-spacing: 3px;
  font-weight: 900;
}

#menu
{
  background-color: #303030;
  margin-top: 20px;
  color: white;
  padding: 10px;

}

#topbar
{
  background-color: #128870;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 170px;
}

#topbarL
{
  padding: 20px;
  width: 138px;
  text-align: center;
  border-right: 2px solid #cccccc;
  float: left;
}

#topbarR
{
  float: left;
  padding: 40px;
  width: 680px;
  font-size: 16px;
  text-align: justify;
}

#sidebar
{
  float: left;
  width: 148px;
  min-height: 620px;
  padding: 20px;
  background-color: lightblue;
  text-align: center;
  font-size: 18px;
  border-right: 2px solid #666666;
}

#logo2
{
  min-height: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: darkgray;
  font-weight: 900;
  margin-bottom: 5px;
}

#content
{
  float: left;
  padding: 40px;
  width: 730px;
  background-color: #dedede;
  min-height: 580px;
  text-align: justify;
}

#footer
{
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  clear: both;
}

.option
{
  float:left;
  min-width: 50px;
  height: 25px;
  font-size: 18px;
  padding: 10px;
  border-right: 2px solid #444444;
  border-block: 2px solid #444444;
  opacity: 0.8;
}

.option:hover
{
  background-color: black;
  cursor: pointer;
}

.optionL
{
  font-size: 18px;
  height: 25px;
  padding: 10px;
  border-bottom: 2px solid #444444;
}

.optionL:hover
{
  background-color: #b3d4fc;
  color: white;
  cursor: pointer;
}

.big_title
{
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}

.solid_line
{
  height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #444444;
}



